# .env.example

# Replace with your actual PostgreSQL database connection string
DATABASE_URL="postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST/YOUR_DB_NAME?sslmode=require"

# Secret key used for signing JWTs
JWT_ACCESS_SECRET=some_long_secure_random_string_for_access
JWT_REFRESH_SECRET=another_long_secure_random_string_for_refresh

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d